<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>A senha do sistema foi alterada por {{updatedBy}}</p>
  <p>Por favor, se atualize em relação a nova senha.</p>
  <p>
    Obrigado! <br />
    <strong>Equipe SimpleTap</strong>
  </p>
</div>
